.myForm{
    padding: 10px;
    margin: 10px;
    border:1px solid #eee;
    background-color: #ccc;
}
.btn {
    margin-top: 10px;
    padding: 8px;
}
.form-control {
    padding: 13px 10px;
}
.container-fluid {
    margin: 40px 0;
}
@media (max-width: 720px) {
    .carousel-indicators {
        display: none;
    }
}
.mainImageTop {
    background: url('../img/img6.jpg') center center no-repeat;
    background-size: cover;
    height: 500px;
}
h2{
    margin-top: 40px;
    text-align: center;
}
p {
    text-align: center;
}
